

/**
 * Remove focused element default outline style.
 */
input, textarea, select, button, a {
  outline: none;
  border: none;
}

/**
 * Remove link element default color and decoration style.
 */
a:link, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 10000px #fff inset !important;
}